<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="wxm.KeepAccount">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utility.AppUtil"
        android:allowBackup="true"
        android:icon="@drawable/ic_keepaccount_app"
        android:label="@string/cn_app_label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme, android:label">
        <activity
            android:name=".ui.login.ACLogin"
            android:label="@string/cn_app_label"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.data.show.note.ACNoteShow"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/title_noteshow"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.usr.ACAddUsr"
            android:configChanges="orientation|screenSize"
            android:label="@string/add_usr"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.help.ACHelp"
            android:label="@string/title_help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.data.report.ACReport"
            android:label="@string/title_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.preview.ACImagePreview"
            android:label="@string/title_preview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.welcome.ACWelcome"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_welcome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.data.edit.NoteCreate.ACNoteCreate"
            android:label="@string/title_create_note"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.data.show.remind.ACRemindShow"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.data.show.note.ACDailyDetail"
            android:exported="false"
            android:label="@string/title_daily_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.data.show.calendar.ACCalendarShow"
            android:exported="false"
            android:label="@string/title_calender_show"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.data.edit.NoteEdit.ACNoteEdit"
            android:label="@string/title_note"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.data.edit.RecordInfo.ACRecordInfoEdit"
            android:label="@string/title_note"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />
    </application>

</manifest>